.Cars {
  display: grid;
  width: 1200px;
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  min-height: 300px;

  &>div {
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid #eee;
    background-color: floralwhite;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &.archive {
      background-color: darkgray;
      border: 2px solid red;
      position: relative;
      color: crimson;

      .deletedAt {
        background-color: #fff;
        padding: 4px;

      }

      &::after {
        content: 'deleted';
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: firebrick;
        color: #fff;
        padding: 4px 12px;
      }
    }
  }
}

button {
  font-weight: 600;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background-color: teal;
  color: #ecf0f1;

  &.delete {
    margin-top: 24px;
    background-color: crimson
  }
}