.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flex__item {

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  border: 1px solid #eee;
  width: 350px;
  overflow: hidden;
  transition: transform 0.2s;

  img {
    max-width: 100%;
    display: block;
  }

  .info {
    padding: 12px;
  }

  &:hover {
    transform: translateY(-6px);
  }
}