.box {
  text-align: center;
  padding: 2rem;
  width: 570px;
  margin: 40px 0;
  font-size: 30px;
  background-color: firebrick;
  color: gainsboro;
  display: inline-block;
  margin: 20px;
  font-weight: 100;
}