.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr minmax(150px, 400px);
  min-height: 100vh;
}

footer {
  padding: 60px;
  background-color: #0a091b;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  align-content: start;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 26px 0;

    li {
      margin-bottom: 10px;
    }
  }
}